* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

span {
    display: inline-block;
}

button {
    background: transparent;
}

.container {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 130px;

}

.header-list-item a {
    color: #000;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}

.hero-text h1 {
    width: 757px;
    font-weight: 700;
    font-size: 60px;
    line-height: 108%;
    color: #000;
    margin-bottom: 18px;
}

.hero-text p {
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    color: #000;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 106px;


}

.whats-up {
    padding: 11px 19px 11px 19px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #25d366 0%, #4caf50 100%);
    display: flex;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    gap: 2.5px;
}

.whats-up img{
    margin: 0;
}

.telegram {
    padding: 11px 19px 11px 19px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #08c 0%, #0af 100%);
    display: flex;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    gap: 2.5px;
}


.telegram img {
    margin: 0;
}

.section-1 {
    padding: 100px;
    background: #a78bfa;


}

.container-2 {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-1-text h2 {
    width: 526px;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 27px;
}

.hero-2 {
    display: flex;
    align-items: center;

    gap: 56px;
}

.p-1 {
    width: 408px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
    margin-bottom: 24px;
}

.p-2 {
    width: 515px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #fff;
}

.section-2 {
    padding: 100px;
    background: #a78bfa;


}

.container-3 {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-3 h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-top: 50px;
    margin-bottom: 20px;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.list-li {
    padding: 2px 47px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-li h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #9881f7;
    margin-bottom: 30px;
}

.list-li h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.icon {
    width: 97px;
    margin: 0 auto;
    padding: 0;
    border-radius: 100%;
    height: 97px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0);
    margin-bottom: 30px;
}

.icon img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-4 {
    padding: 100px;
    background: #F095D5;
}

.container-4 {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    gap: 57px;
}


.s-4-hero-text p {
    width: 683px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 25px;
}

.s-4-hero-text h2 {
    width: 600px;
    font-weight: 700;
    font-size: 44px;
    line-height: 125%;
    color: #fff;
    margin-bottom: 23px;
}

.buttons-2 {
    display: flex;
    align-items: center;
    gap: 30px;


}

.whats-up-2 {
    padding: 11px 19px 11px 19px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #25d366 0%, #4caf50 100%);
    display: flex;
    align-items: center;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    gap: 2.5px;
}

.whats-up-2 img{
    margin: 0;
}

.telegram-2 {
    padding: 11px 19px;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #08c 0%, #0af 100%);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.telegram-2 img{
    margin: 0;
}

.section-5 {
    padding: 100px;
    background: #F1C50E;
}

.container-5 {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.c-5-h2 {
    width: 587px;
    margin-left: 230px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
}

.c-5-ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.c-5-li {
    padding: 32px 32px 56px 32px;
    border-radius: 8px;

    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.c-5-li img {
    margin-bottom: 24px;
}

.c-5-li p {
    width: 286px;
    color: #6B7280;
    margin-bottom: 30px;
}

.btn{
    padding: 15px 31px;
    background: #f472b6;
    border: none;
    border-radius: 99px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
text-align: center;
color: #fff;
}

.section-6{
    padding: 100px;
    background: #fff;

}

.container-6 {
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-6 h2{
font-weight: 700;
font-size: 48px;
line-height: 150%;
text-align: center;
margin-bottom: 30px;
margin-top: 60px;
}

.container-6 img{
    margin-bottom: 50px;
}

.card3{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 120px;
}

.card3-li{
    display: flex;
}

.card3-li h3{
    width: 208px;
font-weight: 500;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #000;
margin-bottom: 20px;
}

.card3-li p{
    width: 205px;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: #000;
margin-bottom: 20px;
}

.circle-yellow{
    padding: 73px 45px;
    border-radius: 100%;
    background: #f1c50e;
font-weight: 700;
font-size: 48px;
line-height: 150%;
text-align: center;
color: #fff;
}

.card3-li-up{
    display: flex;
}

.circle-pink{
    padding: 73px 45px;
    border-radius: 100%;
    background: #f095d5;
font-weight: 700;
font-size: 48px;
line-height: 150%;
text-align: center;
color: #fff;
}

.card3-li-up h3{
    width: 208px;
font-weight: 500;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #000;
margin-bottom: 20px;
}

.card3-li-up p{
    width: 205px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.card3-li-2{
    display: flex;
}

.card3-li-2 h3{
    width: 208px;
font-weight: 500;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #000;
margin-bottom: 20px;
}

.card3-li-2 p{
    width: 267px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000;
}

.circle-yellow-2{
    padding: 73px 45px;
    border-radius: 100%;
    background: #f1c50e;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    
}



.center-text h2{
    width: 680px;
font-weight: 700;
font-size: 48px;
line-height: 115%;
text-align: center;
color: #000;
margin-bottom: 24px;

}

.center-text p{
    width: 800px;
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #000;
margin-bottom: 144px;
}

.box{

    width: 760px;
    height: 258px;
    padding: 60px;
background: #fef9e6;
position: relative;
margin-bottom: 60px;

}

.box-p{
    width: 718px;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #000;
display: flex;
top: 30px;
margin-bottom: 50px;


}

.box h3{
    width: 155px;
font-weight: 700;
font-size: 16px;
line-height: 150%;
text-transform: uppercase;
text-align: center;
color: #000;
}

.box img{
    position: absolute;
    z-index: 2;
    margin-top: -170px;
    left: 283px;
}

.section-7{
    padding: 40px;
    background: #9881f7;
}

.container-7{
    max-width: 100%;
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s7-text h2{
    width: 700px;
    font-weight: 700;
    font-size: 60px;
    line-height: 108%;
    color: #fff;
    margin-bottom: 25px;
}

.s7-text p{
    width: 540px;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #fff;
margin-bottom: 30px;
}

.footer{
    padding: 40px;
    background: #333;
    
}

.footer h3{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #d1d5db;
margin-bottom: 18px;
display: flex;
justify-content: center;
}

.footer img{
    display: flex;
}
